<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388796358851-ju78f9c26mv9fraj3ek1al64tbsulojh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388796358851-ju78f9c26mv9fraj3ek1al64tbsulojh</string>
	<key>API_KEY</key>
	<string>AIzaSyAvfpCEmGZFO0xAqJHM4Ys_fj2_y-80Jx0</string>
	<key>GCM_SENDER_ID</key>
	<string>388796358851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterchat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-9a4b2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-9a4b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388796358851:ios:5787d48c09afb40e728276</string>
</dict>
</plist>